<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.earth.mapper.MemberMapper">
		<insert id="memberJoin">
			insert into tb_user values(#{user_name},#{user_email},#{user_pw})
		</insert>
		
		<!-- 아이디 중복 확인하기  -->
	<select id="emailCheck" resultType="int">
		SELECT COUNT(*)
		FROM tb_user 
		WHERE user_email = #{user_email}
	</select>
		
  </mapper>





